body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox {
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    background-image: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
    width: 35%;
    height: 100%;
}

.odin-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 20%);
    height: 20vh;
    margin-top: 200px;
}

.odin-logo {
    height: 100px;
}

.odin-text {
    color: #fff;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 100px;
}

.right {
    background-color: #F9FAFB;
    width: 65%;
    height: 100%;
}

.form-header {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 150px 200px 20px 40px;
}

.form-body {
    background-color: #fff;
    padding: 10px 0 30px 40px;
    box-shadow: 0 3px 10px #E0E1E2;
}

.form-body > p {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

label {
    display: block;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #454E59;
}

input {
    width: 200px;
    height: 20px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #476FDF;
    box-shadow: 0 0 0 1px lightblue;
}

section > div {
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
}

br {
    clear: both;
}

.unmatched {
    color: red;
    font-size: 10px;
}

.hidden {
    visibility: hidden;
}

.form-footer {
    padding: 20px 0 0 40px;
}

button {
    color: #fff;
    background-color: #596D48;
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    border: #596D48;
}

.form-footer > p {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.form-footer > p > a {
    color: #596D48;
    font-weight: 700;
    cursor: pointer;
}

/* .judson-regular {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .judson-bold {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .judson-regular-italic {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: italic;
  } 

  .vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
} */

  