body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox {
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    background-image: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
    width: 35%;
    height: 100%;
}

.odin-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 20%);
    height: 20vh;
    margin-top: 200px;
}

.odin-logo {
    height: 100px;
}

.odin-text {
    color: #fff;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 100px;
}

.right {
    background-color: #fff;
    width: 65%;
    height: 100%;
}


/* .judson-regular {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .judson-bold {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .judson-regular-italic {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: italic;
  } 

  .vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
} */

  